# Copy this file to .env.local and fill in placeholder values

VITE_PROJECT_NAME=anynotes
# Temporary deployment url in dev environment to allow external access (comma-separated list)
VITE_LOCAL_DEPLOYMENT_URLS=url1,url2 